.cart {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 5;
	border-radius: 25px 25px 0 0;
	padding: 12.5px;
	height: calc(100dvh - 80px);
	overflow: hidden;
	background: #fff;
	display: flex;
	flex-direction: column;
	transform: translateY(100%);
	transition: transform 0.5s ease;
}

.cart--active {
	transform: translateY(0);
}

.cart__title {
	font-size: 2rem;
}

.cart__items {
	scrollbar-width: none;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cart__item {
	display: flex;
	padding-bottom: 10px;

	&:not(:nth-last-child(1)) {
		border-bottom: 1px solid hsl(0, 0%, 90%);
	}
}

.cart__item-details {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.cart__footer {
	background: #fff;
	padding-top: 12.5px;
	margin-top: auto;
}

.cart__checkout-btn {
	background: #000;
	color: #fff;
	height: 50px;
	flex-shrink: 0;
	width: 100%;
	border-radius: 25px;
}
