.header {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 3;
	background: #fff;
	border-radius: 20px;
}

.header__top {
	position: relative;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.header__logo {
	color: #000;
	font-size: 1.5rem;
	align-self: center;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav-link {
	color: #000;
}

.header__nav-dd {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.header__right-section {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
}

.header__wish {
	position: relative;

	span {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		background: var(--accent-red);
		width: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border-radius: 50%;
		color: #fff;
		font-size: 0.6rem;
		line-height: 18px;
	}
}

.header__cart {
	position: relative;

	span {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		background: var(--accent-red);
		width: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border-radius: 50%;
		color: #fff;
		font-size: 0.6rem;
		line-height: 18px;
	}
}

.header__bottom {
	display: grid;
	grid-template-rows: 0fr;
	padding: 0 20px;
	overflow: hidden;
	transition: all 0.5s ease;
}

.header__bottom--active {
	grid-template-rows: 1fr;
	padding: 20px;
}

.header__bottom-container {
	display: flex;
	gap: 50px;
	overflow: hidden;
}

.header-bottom__nav-list {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.header-bottom__nav-link {
	color: hsl(0, 0%, 50%);
	transition: color 0.3s;

	&:hover {
		color: hsl(0, 0%, 0%);
	}
}

// burger-btn

.burger-btn {
	display: none;
	position: relative;
	width: 25px;
	height: 0px;
	padding: 12.5px 0;
	justify-content: flex-end;
	align-items: center;
	align-self: center;
}

.burger-btn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background: #000;
	transform: translateY(-8px);
	transition: transform 0.5s 0.5s, rotate 0.5s;
}

.burger-btn__center-line {
	width: 50px;
	height: 1.5px;
	background: #000;
	opacity: 1;
	transition: all 0s 0.5s;
}

.burger-btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background: #000;
	transform: translateY(8px);
	transition: transform 0.5s 0.5s, rotate 0.5s;
}

.burger-btn--active::before {
	transform: translateY(0);
	rotate: 45deg;
	transition: transform 0.5s, rotate 0.5s 0.5s;
}

.burger-btn__center-line--active {
	opacity: 0;
}

.burger-btn--active::after {
	transform: translateY(0);
	rotate: 135deg;
	transition: transform 0.5s, rotate 0.5s 0.5s;
}

@media screen and (width < 808px) {
	.burger-btn {
		display: flex;
	}
}

// menu

.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100dvh;
	transform: translateX(-100%);
	background: #fff;
	padding: 80px 10px 10px 10px;
	transition: transform 0.5s;
}

.menu--active {
	transform: translateX(0);
}

.menu__btn {
	font-size: 1.5rem;
}

.menu__dd-inner {
	display: flex;
	flex-direction: column;
}

@media screen and (width < 808px) {
	.header__top {
		padding: 0 15px;
	}

	.header__nav {
		display: none;
	}

	.header__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
